# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../../../../../../:\Users\stara\Desktop\SCHOOL\BYUI\4th Semester\CS 246\Week 03\HelloFromGreg\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
